.reset-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#F4F7FC;
}

.reset-card{
    width:400px;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

.reset-card h2{
    text-align:center;
    color:#0A2342;
    margin-bottom:20px;
}

.reset-card input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
}

.reset-card button{
    width:100%;
    padding:12px;
    background:#0A2342;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}